p::first-line{
           font-style: italic;
           color: green;
}
p::first-letter{
           font-size: 160%;
           color: red;
}
h1::selection{
     
           background-color: gray;
          
}
::marker{
           font-size: 20px;
           color: red;
}
ol{
   color: green;
   font-size: 30px;
}